name: Merge to Main and Apply

on:
  push:
    branches:
    - main
    paths-ignore:
    - '**/.github/workflows/**'
    - '**/.devcontainer/**'
    - '**/*.md'
    - .gitignore

env:
  TF_LOG: INFO
  # TFLINT_LOG
  ARM_CLIENT_ID: "${{ secrets.AZURE_CLIENT_ID_APPLY }}"
  ARM_SUBSCRIPTION_ID: "${{ secrets.AZURE_SUBSCRIPTION_ID }}"
  ARM_TENANT_ID: "${{ secrets.AZURE_TENANT_ID }}"
  STORAGE_ACCOUNT: ${{ secrets.STORAGE_ACCOUNT }}
  CONTAINER_NAME: ${{ secrets.CONTAINER_NAME }}
  RESOURCE_GROUP_NAME: ${{ secrets.RESOURCE_GROUP_NAME }}
  TF_VERSION: "${{ vars.TF_VERSION }}"
  GH_WORKFLOW_REPO: ${{ github.repository }}
  WF_NAME: "Pull Request"

permissions:
  id-token: write
  contents: read
  security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
  issues: write
  actions: read
  # pull-requests: write

jobs:
  terraform-apply:
    name: 'Terraform Apply'
    runs-on: ubuntu-latest
    
    steps:
    # Checkout the repository to the GitHub Actions runner
    - name: Checkout
      uses: actions/checkout@v6

    - name: Get run ID of "Pull Request" workflow
      id: get-run-id
      run: |
        OTHER_REPO="smarbar/cust-GithubTesting--Terraform"
        WF_NAME="Pull Request"
        RUN_ID=`gh run list --repo ${{ env.GH_WORKFLOW_REPO }} --workflow "${{ env.WF_NAME }}" --json databaseId --jq .[0].databaseId`
        echo "Detected latest run id of ${RUN_ID} for workflow ${WF_NAME}"
        echo "run-id=${RUN_ID}" >> "$GITHUB_OUTPUT"
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Download artifact from "Pull Request" workflow
      uses: actions/download-artifact@v6
      with:
        name: tfplan # Match name used in test.yml upload artifact step
        github-token: ${{ secrets.GITHUB_TOKEN }}
        repository: ${{ github.repository }}
        run-id: ${{ steps.get-run-id.outputs.run-id }}
    
    # Install the latest version of Terraform CLI 
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: $TF_VERSION
        terraform_wrapper: false
      
    # Log into Azure with OIDC integration
    - name: 'Az CLI login'
      uses: azure/login@v2
      with:
        client-id: ${{ env.ARM_CLIENT_ID }}
        tenant-id: ${{ env.ARM_TENANT_ID }}
        subscription-id: ${{ env.ARM_SUBSCRIPTION_ID }}

    # Run az commands to confirm sub access
    - name: 'Run az commands'
      run: |
        az account show
    
    # Run Terraform init
    - name: Terraform Init
      run: terraform init -backend-config="storage_account_name=$STORAGE_ACCOUNT" -backend-config="container_name=$CONTAINER_NAME" -backend-config="resource_group_name=$RESOURCE_GROUP_NAME"

    # Terraform Apply
    - name: Terraform Apply
      run: terraform apply -auto-approve tfplan
