# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: checkov

on:
  push:
    branches: [ "main" ]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ "main" ]
  schedule:
    - cron: '36 0 * * 2'

permissions:
  contents: read

jobs:
  checkov-scan:
    permissions:
      contents: read # for actions/checkout to fetch code
      security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
      actions: read # only required for a private repository by github/codeql-action/upload-sarif to get the Action run status
    name: Checkov Scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python 3.9
        uses: actions/setup-python@v6
        with:
          python-version: 3.9

      - name: Security Scan - Checkov
        id: checkov
        # continue-on-error: true
        uses: bridgecrewio/checkov-action@v12
        with:
          framework: terraform
          # This will add both a CLI output to the console and create a results.sarif file
          output_format: cli,sarif
          output_file_path: console,checkov-terraform-results.sarif
        
      
      - name: Remove suppressed (checkov:skip) results from SARIF
        run: |
          chmod +x ./filter-suppressed-sarif.sh
          ./filter-suppressed-sarif.sh checkov-terraform-results.sarif checkov-terraform-results-filtered.sarif


      - name: Upload Checkov SARIF file
        uses: github/codeql-action/upload-sarif@v4
        # continue-on-error: true
        # Results are generated only on a success or failure
        # this is required since GitHub by default won't run the next step
        # when the previous one has failed. Security checks that do not pass will 'fail'.
        # An alternative is to add `continue-on-error: true` to the previous step
        # Or 'soft_fail: true' to checkov.
        if: success() || failure()
        with:
          sarif_file: checkov-terraform-results-filtered.sarif
          category: checkov

          
    # - name: Security Scan - Checkov
    #   run: checkov -d . --framework terraform --output cli --skip-check CKV_AZURE_50
    #   continue-on-error: true
    #   working-directory: terraform/environments/${{ matrix.environment }}
