name: Pull Request

on:
  pull_request:
    branches:
    - main
    paths-ignore:
    - '**/.github/workflows/**'
    - '**/.devcontainer/**'
    - '**/*.md'
    - .gitignore

env:
  TF_LOG: INFO
  # TFLINT_LOG
  ARM_CLIENT_ID: "${{ secrets.AZURE_CLIENT_ID }}"
  ARM_SUBSCRIPTION_ID: "${{ secrets.AZURE_SUBSCRIPTION_ID }}"
  ARM_TENANT_ID: "${{ secrets.AZURE_TENANT_ID }}"
  STORAGE_ACCOUNT: ${{ secrets.STORAGE_ACCOUNT }}
  CONTAINER_NAME: ${{ secrets.CONTAINER_NAME }}
  RESOURCE_GROUP_NAME: ${{ secrets.RESOURCE_GROUP_NAME }}
  TF_VERSION: "${{ vars.TF_VERSION }}"
  TF_PLAN_NAME: ${{ vars.TF_PLAN_NAME }}

permissions:
  id-token: write
  contents: read
  security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
  issues: write
  pull-requests: write
  actions: read # only required for a private repository by github/codeql-action/upload-sarif to get the Action run status

jobs: 
  code-checks:
    runs-on: ubuntu-latest
    steps:
    # Checkout the repository to the GitHub Actions runner
    - name: Checkout
      uses: actions/checkout@v6

    # Install the latest version of Terraform CLI
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: $TF_VERSION

    # Run Terraform init
    - name: Terraform Init
      run: terraform init -backend=false
      
    - name: Terraform Format Check
      run: terraform fmt -check -recursive

    - name: Terraform Validate
      run: terraform validate -no-color

    - name: Cache plugin dir
      uses: actions/cache@v5
      with:
        path: ~/.tflint.d/plugins
        key: tflint-${{ hashFiles('.tflint.hcl') }}

    - name: Setup TFLint
      uses: terraform-linters/setup-tflint@v4
      with:
        tflint_version: latest
  
    - name: Show version
      run: tflint --version

    - name: Init TFLint
      run: tflint --init

    - name: Run TFLint
      run: tflint -f compact

    - name: Set up Python 3.9
      uses: actions/setup-python@v6
      with:
        python-version: 3.9

    - name: Security Scan - Checkov
      id: checkov
      # continue-on-error: true
      uses: bridgecrewio/checkov-action@v12
      if: success() || failure()
      with:
        framework: terraform
        # This will add both a CLI output to the console and create a results.sarif file
        output_format: cli,sarif
        output_file_path: console,checkov-terraform-results.sarif

    - name: Upload Checkov SARIF file
      uses: github/codeql-action/upload-sarif@v4
      # continue-on-error: true
      # Results are generated only on a success or failure
      # this is required since GitHub by default won't run the next step
      # when the previous one has failed. Security checks that do not pass will 'fail'.
      # An alternative is to add `continue-on-error: true` to the previous step
      # Or 'soft_fail: true' to checkov.
      if: success() || failure()
      with:
        sarif_file: checkov-terraform-results.sarif
        category: checkov

    # - name: Security Scan - Checkov
    #   run: checkov -d . --framework terraform --output cli --skip-check CKV_AZURE_50
    #   continue-on-error: true
    #   working-directory: terraform/environments/${{ matrix.environment }}

    - name: Scan Terraform
      uses: aquasecurity/trivy-action@0.34.1
      if: success() || failure()
      # continue-on-error: true
      with:
        scan-type: 'fs'
        scan-ref: '.'  # Path to your Terraform files
        format: 'sarif'
        scanners: 'vuln,secret,misconfig'
        severity: 'CRITICAL,HIGH,MEDIUM,LOW,UNKNOWN'
        exit-code: 0
        output: 'trivy-terraform-results.sarif'

    # Only available for org with CodeQL Advanced Security
    - name: Upload Trivy scan results to GitHub Security tab
      uses: github/codeql-action/upload-sarif@v4
      if: success() || failure()
      # continue-on-error: true
      with:
        sarif_file: 'trivy-terraform-results.sarif'
        category: trivy

  terraform-plan:
    needs: code-checks
    runs-on: ubuntu-latest
    env:
      #this is needed since we are running terraform with read-only permissions
      ARM_SKIP_PROVIDER_REGISTRATION: true
    outputs:
      tfplanExitCode: ${{ steps.plan.outputs.exitcode }}

    steps:
    # Checkout the repository to the GitHub Actions runner
    - name: Checkout
      uses: actions/checkout@v6

    # Install the latest version of Terraform CLI 
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: $TF_VERSION
        terraform_wrapper: false
      
    # Log into Azure with OIDC integration
    - name: 'Az CLI login'
      uses: azure/login@v2
      with:
        client-id: ${{ env.ARM_CLIENT_ID }}
        tenant-id: ${{ env.ARM_TENANT_ID }}
        subscription-id: ${{ env.ARM_SUBSCRIPTION_ID }}

    # Run az commands to confirm sub access
    - name: 'Run az commands'
      run: |
        az account show

    # Run Terraform init
    - name: Terraform Init
      run: terraform init -backend-config="storage_account_name=$STORAGE_ACCOUNT" -backend-config="container_name=$CONTAINER_NAME" -backend-config="resource_group_name=$RESOURCE_GROUP_NAME"

    # Run a Terraform fmt
    - name: Terraform format
      id: fmt
      run: terraform fmt -check -recursive

    # Run a Terraform validate
    - name: Terraform validate
      run: terraform validate -no-color

    # Generates an execution plan for Terraform
    # An exit code of 0 indicated no changes, 1 a terraform failure, 2 there are pending changes.
    - name: Terraform Plan
      id: plan
      run: |
        export exitcode=0
        terraform plan -detailed-exitcode -no-color -out ${{ vars.TF_PLAN_NAME }} || export exitcode=$?

        echo "exitcode=$exitcode" >> $GITHUB_OUTPUT
        
        if [ $exitcode -eq 1 ]; then
          echo Terraform Plan Failed!
          exit 1
        else 
          exit 0
        fi
        
    # Save plan to artifacts  
    - name: Publish Terraform Plan
      uses: actions/upload-artifact@v6
      with:
        name: ${{ vars.TF_PLAN_NAME }}
        path: ${{ vars.TF_PLAN_NAME }}
    
      # Create string output of Terraform Plan
    - name: Create String Output
      id: tf-plan-string
      run: |
        TERRAFORM_PLAN=$(terraform show -no-color ${{ vars.TF_PLAN_NAME }})
        
        delimiter="$(openssl rand -hex 8)"
        echo "summary<<${delimiter}" >> $GITHUB_OUTPUT
        echo "## Terraform Plan Output" >> $GITHUB_OUTPUT
        echo "<details><summary>Click to expand</summary>" >> $GITHUB_OUTPUT
        echo "" >> $GITHUB_OUTPUT
        echo '```terraform' >> $GITHUB_OUTPUT
        echo "$TERRAFORM_PLAN" >> $GITHUB_OUTPUT
        echo '```' >> $GITHUB_OUTPUT
        echo "</details>" >> $GITHUB_OUTPUT
        echo "${delimiter}" >> $GITHUB_OUTPUT

    # Publish Terraform Plan as task summary
    - name: Publish Terraform Plan to Task Summary
      env:
        SUMMARY: ${{ steps.tf-plan-string.outputs.summary }}
      run: |
        echo "$SUMMARY" >> $GITHUB_STEP_SUMMARY
    
    # If this is a PR post the changes
    - name: Push Terraform Output to PR
      if: github.ref != 'refs/heads/main'
      uses: actions/github-script@v7
      env:
        SUMMARY: "${{ steps.tf-plan-string.outputs.summary }}"
      with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const body = `${process.env.SUMMARY}`;
            github.rest.issues.createComment({
                issue_number: context.issue.number,
                owner: context.repo.owner,
                repo: context.repo.repo,
                body: body
            })