name: Push

on:
  push:
    branches-ignore:
      - main

env:
  TF_LOG: INFO
  # TFLINT_LOG
  ARM_CLIENT_ID: "${{ secrets.AZURE_CLIENT_ID }}"
  ARM_SUBSCRIPTION_ID: "${{ secrets.AZURE_SUBSCRIPTION_ID }}"
  ARM_TENANT_ID: "${{ secrets.AZURE_TENANT_ID }}"
  TF_VERSION: "${{ secrets.TF_VERSION }}"

permissions:
      id-token: write
      contents: read

jobs: 
  deploy-infra:
    runs-on: ubuntu-latest
    steps:
    # Checkout the repository to the GitHub Actions runner
    - name: Checkout
      uses: actions/checkout@v6

    # Install the latest version of Terraform CLI 
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: ${{ secrets.TF_VERSION }}
      
    # # Log into Azure with OIDC integration
    # - name: 'Az CLI login'
    #   uses: azure/login@v2
    #   with:
    #     client-id: ${{ secrets.AZURE_CLIENT_ID }}
    #     tenant-id: ${{ secrets.AZURE_TENANT_ID }}
    #     subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

    # # Run az commands to confirm sub access
    # - name: 'Run az commands'
    #   run: |
    #     az account show

    # Run Terraform init
    - name: Terraform Init
      id: init
      env:
        STORAGE_ACCOUNT: ${{ secrets.STORAGE_ACCOUNT }}
        CONTAINER_NAME: ${{ secrets.CONTAINER_NAME }}
        RESOURCE_GROUP_NAME: ${{ secrets.RESOURCE_GROUP_NAME }}
        # ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
        # ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        # ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      run: terraform init -backend=false
      # run: terraform init -backend-config="storage_account_name=$STORAGE_ACCOUNT" -backend-config="container_name=$CONTAINER_NAME" -backend-config="resource_group_name=$RESOURCE_GROUP_NAME"

    - name: Terraform Validate
      run: terraform validate
      # working-directory: terraform/environments/${{ matrix.environment }}

    - name: Terraform Format Check
      run: terraform fmt -check -recursive
      # working-directory: terraform/environments/${{ matrix.environment }}

    - name: Cache plugin dir
      uses: actions/cache@v4
      with:
        path: ~/.tflint.d/plugins
        key: ${{ matrix.os }}-tflint-${{ hashFiles('.tflint.hcl') }}
      
    - name: Setup TFLint
      uses: terraform-linters/setup-tflint@v4
      with:
        tflint_version: latest
  
    - name: Show version
      run: tflint --version

    - name: Init TFLint
      run: tflint --init
      env:
        # https://github.com/terraform-linters/tflint/blob/master/docs/user-guide/plugins.md#avoiding-rate-limiting
        GITHUB_TOKEN: ${{ github.token }}

    - name: Run TFLint
      run: tflint -f compact
    
    - name: Set up Python 3.9
      uses: actions/setup-python@v6
      with:
        python-version: 3.9
    - name: Test with Checkov
      id: checkov
      uses: bridgecrewio/checkov-action@v12
      with:
        # directory: example/examplea # Optional
        framework: terraform 

    - name: Security Scan - Checkov
      run: checkov -d . --framework terraform --output cli --skip-check CKV_AZURE_50
      continue-on-error: true
      working-directory: terraform/environments/${{ matrix.environment }}

    # - name: Scan Terraform  
    #   uses: aquasecurity/trivy-action@0.34.1
    #   with: 
    #     scan-type: 'fs' 
    #     scan-ref: '.'  # Path to your Terraform files  
    #     format: 'sarif'
    #     scanners: 'vuln,secret,misconfig'
    #     severity: 'CRITICAL,HIGH,MEDIUM,LOW,UNKNOWN' 
    #     exit-code: 0
    #     output: 'trivy-terraform-results.sarif' 

    # The first call to the action will invoke setup-trivy and install trivy
    - name: Generate Trivy Vulnerability Report
      uses: aquasecurity/trivy-action@master
      with:
        scan-type: "fs"
        output: trivy-report.json
        format: json
        scan-ref: .
        exit-code: 0

    # - name: Upload Trivy scan results to GitHub Security tab
    #   uses: github/codeql-action/upload-sarif@v4
    #   with:
    #     sarif_file: 'trivy-terraform-results.sarif'

    - name: Upload Vulnerability Scan Results
      uses: actions/upload-artifact@v4
      with:
        name: trivy-report
        path: trivy-report.json
        retention-days: 30
    
    # - name: Security Scan - TFSec
    #   run: tfsec .
    #   continue-on-error: true
    #   working-directory: terraform/environments/${{ matrix.environment }}

    # # Generates an execution plan for Terraform
    # # An exit code of 0 indicated no changes, 1 a terraform failure, 2 there are pending changes.
    # - name: Terraform Plan
    #   id: plan
    #   env:
    #     ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
    #     ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
    #     ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
    #   run: |
    #     export exitcode=0
    #     terraform plan -detailed-exitcode -no-color -out tfplan || export exitcode=$?

    #     echo "exitcode=$exitcode" >> $GITHUB_OUTPUT
        
    #     if [ $exitcode -eq 1 ]; then
    #       echo Terraform Plan Failed!
    #       exit 1
    #     else 
    #       exit 0
    #     fi
        
    # # # Run a Terraform apply
    # # - name: Terraform apply
    # #   id: apply
    # #   env:
    # #     ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
    # #     ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
    # #     ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
    # #   run: terraform apply -auto-approve