name: Run ID

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read
  actions: read
  
jobs:
  context:
    runs-on: ubuntu-latest
    steps:
      - name: output
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
