# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: trivy

on:
  push:
    branches: [ "main" ]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ "main" ]
  schedule:
    - cron: '36 0 * * 2'

permissions:
  contents: read

jobs:
  trivy-scan:
    permissions:
      contents: read # for actions/checkout to fetch code
      security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
      actions: read # only required for a private repository by github/codeql-action/upload-sarif to get the Action run status
    name: Trivy Scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Scan Terraform
        uses: aquasecurity/trivy-action@0.34.1
        # continue-on-error: true
        with:
          scan-type: 'fs'
          scan-ref: '.'  # Path to your Terraform files
          format: 'sarif'
          scanners: 'vuln,secret,misconfig'
          severity: 'CRITICAL,HIGH,MEDIUM,LOW,UNKNOWN'
          exit-code: 0
          output: 'trivy-terraform-results.sarif'

      # Only available for org with CodeQL Advanced Security
      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v4
        if: success() || failure()
        # continue-on-error: true
        with:
          sarif_file: 'trivy-terraform-results.sarif'
          category: trivy
